.button {
	text-align: center;
	padding: 10px;
	color: var(--white);
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	border-radius: 5px;
	font-family: inherit;
}

.primary {
	background: var(--red);
}
.secondary {
	background: var(--green);
	font-size: 12px;
	line-height: 15px;
	color: var(--black);
	padding: 5px;
	width: 139px;
	font-weight: 400;
	&:disabled {
		cursor: default;
	}
}
.ghost {
	background: var(--white);
	font-size: 12px;
	line-height: 15px;
	color: var(--black);
	outline: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px;
	width: 139px;
	&:disabled {
		color: rgba(0, 0, 0, 0.2);
		cursor: default;
	}
}
.ghostRed {
	outline: 1px solid var(--orange);
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: var(--orange);
	font-size: 12px;
	line-height: 15px;
	padding: 5px;
	width: 88px;
}