.login {
	background: var(--white);
	width: 420px;
	max-height: 393px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 100px auto 0;
	background: #ffffff;
	box-shadow: var(--blur-shadow);
	border-radius: 10px;

	svg {
		align-self: center;
	}
}
