.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 10px;
	background: #ffffff;
	border: 1px solid #808080;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.25s ease-in-out;
	width: 880px;
	max-height: 55px;
	font-size: 12px;
	line-height: 15px;
	// align-items: flex-start;
}

.content {
	display: flex;
	justify-content: flex-start;
	// margin-bottom: 20px;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.content > *:last-child {
	margin-left: 15px;
}

.stack {
	flex: 0 0 200px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	color: var(--color-gray);
	/* margin-right: 5%; */
}

.question {
	// position: absolute;
	// left: 120px;
	flex: 1 0 400px;
	overflow: hidden;
	margin-right: 10px;
}

.commentWrapper {
	justify-content: space-between;
	column-gap: 20px;
	width: 850px;
	opacity: 0;
	display: none;
}

.answer {
	flex: 0 1 530px;
	overflow: hidden;
}

.text {
	background: #d9d9d9;
	border-radius: 5px;
	padding: 10px;
	resize: initial;
	margin-bottom: 10px;
}

.text::placeholder {
	color: #888888;
}

.opened {
	max-height: 1000px;
}
.opened .commentWrapper {
	display: flex;
	opacity: 1;
	animation: fadeInFromNone 0.3s ease-in-out;
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: flex;
		opacity: 0;
	}

	100% {
		display: flex;
		opacity: 1;
	}
}

.arrow {
	transition: all 0.25s ease-in-out;
}

.opened .arrow {
	transform: rotate(90deg);
}

.comment {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.button {
	background: #a3d0ab;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 15px;
}
