.item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-blue);
	position: relative;
	flex: 1 1 25%;
	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	.text {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
		opacity: 0.5;
		text-align: center;
		flex: 1 0 auto;
	}
	.count {
		font-weight: 600;
		font-size: 40px;
		line-height: 48px;
		text-transform: uppercase;
	}
}

.icon {
	position: absolute;
	top: 58%;
	right: 32%;
}
