.main {
	display: grid;
	row-gap: 20px;
	grid-template-columns: 310px auto;
	gap: 25px;
	justify-content: center;

	.left {
		display: flex;
		flex-direction: column;
		row-gap: 25px;
	}
	.right {
		display: flex;
		flex-direction: column;
		row-gap: 25px;
	}
}
