.wrapper {
	display: flex;
	flex-direction: column;
	padding: 7px 10px 5px;
	background: #ffffff;
	border: 1px solid #808080;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.25s ease-in-out;
	width: 100%;
	max-height: 35px;
	font-size: 12px;
	line-height: 15px;
	cursor: pointer;
}

.content {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
	align-items: center;
	position: relative;
}

.content > *:last-child {
	margin-left: 15px;
}

.stack {
	flex: 0 0 200px;
	font-size: 14px;
	line-height: 17px;
	color: var(--color-blue);
	text-align: right;
}

.question {
	flex: 1 0 600px;
}

.commentWrapper {
	display: flex;
	column-gap: 75px;
	margin-left: 10px;
}

.answer {
}

.text {
	background: #d9d9d9;
	border-radius: 5px;
	padding: 10px;
	resize: initial;
	margin-bottom: 10px;
}

.text::placeholder {
	color: var(--color-gray);
}

.opened {
	max-height: 190px;
}

.arrow {
	transition: all 0.25s ease-in-out;
}

.opened .arrow {
	transform: rotate(90deg);
}

.comment {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.button {
	background: #a3d0ab;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 15px;
}

.label {
	font-size: 12px;
	line-height: 15px;
	color: #b3b3b3;
}
