.wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	position: relative;

	img {
		cursor: pointer;
		position: absolute;
		top: 30px;
		right: 11px;
	}
}
.label {
	color: var(--black);
	font-size: 12px;
	line-height: 15px;
	padding-left: 11px;
	margin-bottom: 7px;
	cursor: pointer;
}
.input {
	color: var(--black);
	border: 1px solid var(--black);
	font-size: 12px;
	line-height: 15px;
	padding: 11px;
}
