.interview {
	position: absolute;
	top: 103px;
	bottom: 103px;
	left: 50%;
	transform: translateX(-50%);

	padding: 20px 30px;
	width: 376px;
	height: 522px;
	background: var(--color-white);
	border-radius: 10px;
}

.overlay {
	position: fixed;
	z-index: 5000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
}

.plusIcon {
	z-index: 20;
}
.header {
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 20px;
	line-height: 24px;
}

.form {
	display: flex;
	flex-direction: column;

	&__top {
		display: flex;
		justify-content: space-between;
		margin-top: 17px;
		margin-bottom: 17px;
	}
	&__label {
		display: inline-block;
		margin-bottom: 5px;
		font-size: 12px;
		line-height: 15px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
	}
	&__comment {
		background: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		width: 100%;
		height: 255px;
		resize: initial;
		padding: 5px;
		margin-bottom: 17px;
		&::placeholder {
			color: var(--color-light-gray)
		}
	}
	button {
		align-self: flex-end;
	}
}

