.wrapper {
	margin-bottom: 10px;
	position: fixed;
	width: 100%;
}

.sortList {
	display: flex;
	justify-content: flex-start;

	.sortItem:not(:last-child) {
		flex: 1 1 20%;
		display: flex;
		justify-content: center;
	}
	.sortItem:last-child {
		flex-basis: 440px;
	}
}
