@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	font-family: 'Inter', sans-serif;
}

body {
	line-height: 1;
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/*===================Null Styles=======================*/

/*===================Variables=======================*/
:root {
	--red: #C70025;
	--green: #89B588;
	--dark-green: rgba(93, 154, 91, 0.73);
	--pink: #F8CEC0;
	--orange: #ff7448;
	--light-orange: #FFBBA5;
	--gray: #808080;
	--black: #000000;
	--white: #ffffff;
}


/*===================Variables=======================*/

/*===================React Select=======================*/
.react-select {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	height: 27px;
	min-width: 142px;
}

.react-select__control {
	min-height: 25px !important;
	border-color: none !important;
	border-radius: none !important;
	border-style: none !important;
	border-width: none !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.react-select__value-container {
	/* display: flex; */
}

.react-select__placeholder {
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: var(--orange) !important;
}

.react-select__input-container {
	margin: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	/* display: none !important; */
}

.react-select__indicators {}

.react-select__indicator-separator {
	display: none !important;
}

.react-select__indicator {
	padding: 0 !important;
}

.react-select__single-value {
	color: var(--orange) !important;
}

.react-select__indicator svg {
	/* width: 12px;
	height: 6px; */
}

.react-select__menu {}

/*===================React Select=======================*/