.button {
	display: flex;
	align-items: center;
	justify-content: start;
	column-gap: 10px;
}

.blue {
	color: var(--color-blue);
}
.light-blue {
	color: var(--color-light-blue);
}
.light-green {
	color: var(--color-light-green);
	cursor: default;
}
